.search-section{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #f6f6f6;
    min-height: 49px;
    justify-content: center;
    .icon-block{
        left: 30px;
        position: absolute;
        color: #919191;
        font-size: 14px;
        
    }
    input{
        border-radius: 20px;
        height: 30px;
        width: calc(100% - 80px);
        padding-left: 50px;
        font-size: 16px;
        color: #919191;
        border:none;
        outline: none;
    }

}